<div class="top col-md-offset-2 col-md-9 about">
  <h2>About Road Trip Buddies</h2>
  <br>
  <div>
    <h3>Why?</h3>
    <p>Road trip buddies was made as a project while attending the web development boot camp at General Assembly. The Idea behind this application is to help make going on road trips a little easier by finding others who need to go to the same location but may either not have the means to get there or just want to save a little cash by finding someone to travel with. </p>
  </div>
  <div>
    <h3>The Tech</h3>
    <p>I used the mean stack to develop this project as well as JWT auth. Google maps will be implemented soon to make posting trips eaiser for the user and to help make finding trips much easier for the other users. Currently The deletion of trips is accesible to everyone and I am in the process of removing the "user" in favor of having passwords assigned to each trip that only the poster can access.  </p>
  </div>
  <!-- <div>
    <h3>Find Me</h3>
    <p><a href="https://github.com/StrongSad/ga-project-4-final">This github repo</a></p>
  </div> -->
</div>