

<div class="navbar navbar-inverse navbar-fixed-left navbar-ex1-collapse" role="navigation" ng-controller="NavCtrl">
  <a class="navbar-brand" href="/">Road Trip Buddies</a>
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/trips/new" ng-show="Auth.isLoggedIn()">Post Road Trip</a></li>
    <li><a href="/signup" ng-hide="Auth.isLoggedIn()">Signup</a></li>
    <li><a href="/login" ng-hide="Auth.isLoggedIn()">Login</a></li>
    <li><a ng-click="logout()" ng-show="Auth.isLoggedIn()">Logout</a></li>
  </ul>
</div>



